@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var urlIncluirBeneficiario = '@Url.Action("ObterListaBeneficiarios", "Beneficiario", new { area = ""})';
        var urlIncluirBeneficiariNaLista = '@Url.Action("Incluir", "Beneficiario", new { area = ""})';
    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/inputMask")
    @Scripts.Render("~/bundles/incluirBeneficiario")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")